
.calculator {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: green;
}

.item-display {
    grid-column: 1 / span 4;
    
}

#display {

    height: 100px;
    width: 425px;
    text-align: right;
    font-size: 300%;
    background-color: blue;
    color: white;
}

.box {
    background-color: black;
    color: orange;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    font-family: monospace;
    text-align: center;
}

button {
    border: none;

}
.operator{
  background-color: black;
  color: orange;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  font-family: monospace;
  text-align: center;
}
