body {
    margin: 40px;
    max-width: 800px;
    min-width: 300px;
    max-height: 800px;
    min-height: 300px;
    background-color: green;
}

.calcshell{
  border-color: black;
  background-color: yellow;
  display: grid;
}

.item-display {
    width: 4fr;
    height: 120px;
    grid-row-gap: 30px;
    text-align: right;
    background-color: blue;
    color: white;
}

.calculator {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  max-width: 800px;
  min-width: 120px;
    display: grid;
    background-color: grey;
    color: white;
}

.box {
    background-color: black;
    color: orange;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    font-family: monospace;
    text-align: center;
}

.operator{
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  font-family: monospace;
  text-align: center;
}
